//
// Variables
// --------------------------------------------------


// Values
// --------------------------------------------------
$font-size-base: 16px !default;
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;
$line-height-base:   1.5 !default;

// Colors
// --------------------------------------------------
$color-dark: #111118;
$color-light: #171720;
$color-primary: #e74c3c;
$sidebar-background: #171c20;
$background-cd-wrap: rgba(23,23,32,.7);
$background-map-label: rgba(23,23,32,.7);
$loader: rgba(23,23,32,1);
$loader-bar: #e74c3c;
$loader-background: rgba(255,255,255,.1);

// Typography
// --------------------------------------------------
$text-color: #fff;
$text-color-semi: #848491;
$text-color-primary: #e74c3c;

// Header
// -------------------------
$navbar-height: 150px;
$navbar-scrolled: 70px;
$logo-height: 42px;
$logo-width: 42px;
$element-height: 24px;
$dropdown-width: 200px;


